@import "_mixins.scss";
@import "_variables.scss";


body * {
    margin: 0;
    padding: 0;
    font-family: $font;
}

a{
    color:inherit;
    text-decoration: none;
}



header, section{
    border-bottom:solid 1px red;
}
footer{
    border-top:solid 1px blue;
}

//blocks
@import "blocks/_header.scss";
@import "blocks/_footer.scss";
@import "blocks/_main-content.scss";
@import "blocks/_map.scss";
@import "blocks/_review.scss";
@import "blocks/_gallery.scss";
@import "blocks/_slider.scss";