.header {
    @include container;
    position: relative;
}

// close burger menu
.header-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60px;

    .header-menu__link:not(:first-child) {
        height: 0;
        font-size: 0;
        transition: linear .3s;
        -webkit-transition: linear .3s;
        -moz-transition: linear .3s;
        -ms-transition: linear .3s;
        -o-transition: linear .3s;
        opacity: 0;
    }

    @media #{$tablet} {
        & {
            flex-direction: row;
            justify-content: center;
            line-height: 60px;

            .header-menu__link:not(:first-child) {
                flex-basis: 20%;
                @include link;
                height: 100%;
                font-size: 14px;
                opacity: 1;
            }

            //for active link
            .header-menu__link_active:not(:first-child) {
                @include link_active;
            }

            //arrangement of flex elements
            .header-menu__link:nth-child(1) {
                order: 3;
            }

            .header-menu__link:nth-child(2) {
                order: 1;
            }

            .header-menu__link:nth-child(3) {
                order: 2;
            }

            .header-menu__link:nth-child(4) {
                order: 4;
            }

            .header-menu__link:nth-child(5) {
                order: 5;
            }
        }
    }
}


//open burger menu
.header-menu_open {
    height: 100%;

    .header-menu__link:not(:nth-child(1)) {
        @include button;
        text-decoration: none;
        border-top: solid 1px #9ac2db;
        border-bottom: solid 1px #678fa8;
        height: 100%;
        opacity: 1;
    }

    .header-menu__link:nth-child(1) {
        display: none;
    }
}

//burger button close
.burger-btn {
    .burger-btn__line {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 5px;
        background-color: $btn;
        cursor: pointer;
        transition: linear .4s;
        -webkit-transition: linear .4s;
        -moz-transition: linear .4s;
        -ms-transition: linear .4s;
        -o-transition: linear .4s;

        &:nth-child(2),
        &:nth-child(3) {
            top: 29px;
        }

        &:nth-child(4) {
            top: 38px;
        }
    }

    //hidden for tablet and desktop
    @media #{$tablet} {
        display: none;
    }
}

//burger button open
.burger-btn_open {

    .burger-btn__line:nth-child(1),
    .burger-btn__line:nth-child(4) {
        display: none;
    }

    .burger-btn__line:nth-child(2) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        background-color: #fff;
    }

    .burger-btn__line:nth-child(3) {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        background-color: #fff;
    }
}

//for header-intro

.header-intro {
    @include container;
    background-image: url("../images/header/back-m.png");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;

    .header-intro__text {
        padding-bottom: 88px;
    }

    .header-intro__fill {
        position: absolute;
        bottom: 0;
    }

    //omit the fill for the form-page and photo page 
    .fill_form {
        bottom: -3px;
    }

    @media #{$tablet} {
        & {
            background-image: url("../images/header/back-d.png");

            .header-intro__text {
                padding-bottom: 83px;
            }
        }
    }
}

.fill-rorm {
    bottom: -5px;
}